name: Lua Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lua-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Selene
        run: |
          cargo install selene --no-default-features

      - name: Install StyLua
        run: |
          cargo install stylua

      - name: Run Selene
        run: |
          printf "\nRunning selene\n"
          selene --display-style=quiet .

      - name: Run StyLua Lint
        run: |
          printf "\nRunning stylua\n"
          stylua --check --output-format=summary .

      - name: Run StyLua Format
        run: |
          printf "\nFormatting with stylua\n"
          stylua .
